body, html{
    height: 100%;
}

/*Configura os elementos .parallax*/
.parallax{
    width: 100%;
    height: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: 50% 0 !important;
    position: relative;
}

/*Configurar as imagens nas divs*/
.div1{
    background-image: url('../img/bike1.jpg');
}
.div2{
    background-image: url('../img/bike2.jpg');
}
.div3{
    background-image: url('../img/bike3.jpg');
}
.div4{
    background-image: url('../img/bike4.jpg');
}
.div5{
    background-image: url('../img/bike5.jpg');
}
.div6{
    background-image: url('../img/bike6.jpg');
}